trunk/smooks-cartridges/edi/src/main/resources/META-INF/xsd/smooks/edi-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/edi-1.1.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-edi="http://www.milyn.org/xsd/smooks/edi-1.1.xsd"
           xmlns:medi="http://www.milyn.org/schema/edi-message-mapping-1.0.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks JSON Reader Binding Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="reader" type="smooks-edi:reader" substitutionGroup="smooks:abstract-reader"></xs:element>

    <xs:complexType name="reader" mixed="true">
    	<xs:complexContent>
    		<xs:extension base="smooks:abstract-reader">
    			<xs:attribute name="mappingModel" type="xs:string"
    				use="optional">
    			</xs:attribute>
    			<xs:attribute name="encoding" type="xs:string"
    				use="optional">
    			</xs:attribute>

    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

</xs:schema>