smooks-cartridges/csv/src/main/resources/META-INF/xsd/smooks/csv-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/csv-1.1.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-csv="http://www.milyn.org/xsd/smooks/csv-1.1.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks CSV Reader Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="reader" type="smooks-csv:reader" substitutionGroup="smooks:abstract-reader"></xs:element>

    <xs:complexType name="reader">
    	<xs:annotation>
    		 <xs:documentation xml:lang="en">CSV Reader</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:abstract-reader">
    			<xs:attribute name="fields" type="xs:string"/>
    			<xs:attribute name="separator" type="smooks-csv:char"/>
    			<xs:attribute name="quote" type="smooks-csv:char"/>
    			<xs:attribute name="skipLines" type="xs:integer"/>
    			<xs:attribute name="encoding" type="xs:string"/>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="char">
    	<xs:restriction base="xs:string">
    		<xs:length value="1"></xs:length>
    	</xs:restriction>
    </xs:simpleType>
</xs:schema>