trunk/smooks-cartridges/json/src/main/resources/META-INF/xsd/smooks/json-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-json="http://www.milyn.org/xsd/smooks/json-1.1.xsd"
           targetNamespace="http://www.milyn.org/xsd/smooks/json-1.1.xsd"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks JSON Reader Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="reader" type="smooks-json:reader" substitutionGroup="smooks:abstract-reader"></xs:element>

    <xs:complexType name="reader">
    	<xs:annotation>
    		 <xs:documentation xml:lang="en">JSON Reader</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:abstract-reader">
    			<xs:sequence>
    				<xs:element name="keyMap" type="smooks-json:keyMap" maxOccurs="1" minOccurs="0"></xs:element>
    			</xs:sequence>
    			<xs:attribute name="rootName" type="xs:string"
    				use="optional">
    			</xs:attribute>
    			<xs:attribute name="arrayElementName" type="xs:string"
    				use="optional">
    			</xs:attribute>
    			<xs:attribute name="nullValueReplacement"
    				type="xs:string" use="optional">
    			</xs:attribute>
    			<xs:attribute name="keyWhitspaceReplacement"
    				type="xs:string" use="optional">
    			</xs:attribute>
    			<xs:attribute name="keyPrefixOnNumeric" type="xs:string"
    				use="optional">
    			</xs:attribute>
    			<xs:attribute name="illegalElementNameCharReplacement"
    				type="xs:string" use="optional">
    			</xs:attribute>
    			<xs:attribute name="encoding" type="xs:string"
    				use="optional">
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:complexType name="keyMap">
    	<xs:sequence>
    		<xs:element name="key" type="smooks-json:key"
    			maxOccurs="unbounded" minOccurs="1">
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="key">
    	<xs:simpleContent>
    		<xs:extension base="xs:string">
    			<xs:attribute name="from" type="xs:string"
    				use="required">
    			</xs:attribute>
    			<xs:attribute name="to" type="xs:string" use="optional"></xs:attribute>
    		</xs:extension>
    	</xs:simpleContent>
    </xs:complexType>
</xs:schema>