tags/Smooks_V1.1/smooks-cartridges/persistence/src/main/resources/META-INF/xsd/smooks/persistence-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-persistence="http://www.milyn.org/xsd/smooks/persistence-1.1.xsd"
           targetNamespace="http://www.milyn.org/xsd/smooks/persistence-1.1.xsd"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Persistence Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="populator" type="smooks-persistence:populator" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="populator">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:sequence>
       				<xs:choice minOccurs="0" maxOccurs="unbounded">
       					<xs:element type="smooks-persistence:findByQuery">
							<xs:annotation>
								<xs:documentation xml:lang="en">
								</xs:documentation>
							</xs:annotation>
       					</xs:element>
       					<xs:element type="smooks-persistence:findBy">
							<xs:annotation>
								<xs:documentation xml:lang="en">
								</xs:documentation>
							</xs:annotation>
       					</xs:element>
       				</xs:choice>
       			</xs:sequence>
       			<xs:attribute name="dao" type="xs:string" use="required" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="beanId" type="xs:string"
       				use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						The ID under which the entity bean is
       						bound in the bean context.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="statementId" type="xs:string"
       				use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistMode" type="smooks-dao:persistMode"
       				use="optional" default="PERSIST">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="flush" type="xs:boolean"
       				use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistOnElement" type="xs:string">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">

       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"persistOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>

       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>

	<xs:complexType name="abstractFindBy" abstract="true">
    	<xs:annotation>
    		<xs:documentation xml:lang="en"></xs:documentation>
    	</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element type="xs:decodeParam" name="decodeParam" minOccurs="0" maxOccurs="-1"/>
			<xs:element type="xs:string" name="onNoResultException" maxOccurs="1" minOccurs="1"/>
		</xs:choice>
		<xs:attribute name="dao" type="xs:string"></xs:attribute>
    	<xs:attribute name="property" type="xs:string"></xs:attribute>
    	<xs:attribute name="setterMethod" type="xs:string"></xs:attribute>
    	<xs:attribute name="decoder" type="xs:string"></xs:attribute>
    	<xs:attribute name="query" type="xs:string"></xs:attribute>
    	<xs:attribute name="uniqueResult" type="xs:string"></xs:attribute>
    	<xs:attribute name="onNoResult" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="findByQuery">
    	<xs:annotation>
    		<xs:documentation xml:lang="en"></xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks-persistence:abstractFindBy">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element type="xs:string" name="query" />
				</xs:choice>
    		</xs:extension>
	    </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="findByQuery">
    	<xs:annotation>
    		<xs:documentation xml:lang="en"></xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks-persistence:abstractFindBy">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element type="xs:string" name="query" />
				</xs:choice>
    		</xs:extension>
	    </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="persistMode">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="PERSIST"></xs:enumeration>
    		<xs:enumeration value="MERGE"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>

    <xs:complexType name="decodeParam">
		<xs:annotation>
             <xs:documentation xml:lang="en">
                 Data Decode Parameter.
             </xs:documentation>
         </xs:annotation>
        <xs:complexType>

            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">The name of the parameter.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:complexType>



</xs:schema>