smooks-cartridges/fixed-length/src/main/resources/META-INF/xsd/smooks/fixedlength-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/fixedlength-1.1.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-fixedlength="http://www.milyn.org/xsd/smooks/fixedlength-1.1.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Fixed Length Reader Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="reader" type="smooks-fixedlength:reader" substitutionGroup="smooks:abstract-reader">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Fixed Length Reader Configuration
    		 	The Fixed Length reader reads and validates a fixed length stream and converts it to SAX events that Smooks
    		 	can process.
    		</xs:documentation>
    	</xs:annotation>
    </xs:element>

    <xs:complexType name="reader">
    	<xs:annotation>
    		 <xs:documentation xml:lang="en">Fixed Length Reader</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:abstract-reader">
    			<xs:attribute name="fields" type="xs:string">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    						Comma separated list of Fixed Length record field names and size in brackets : 'field[size]'
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="sequenceId" type="xs:boolean" use="optional" default="true">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    						 If it should generate a unique ID per line.
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="skipLines" type="xs:integer" use="optional" default="0">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    						Number of lines to skip before processing starts. Default of 0.
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="strict" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    						If a line is invalid and parameter is set on 'true', doesn't output invalid fields with empty data.
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="encoding" type="xs:string" use="optional" default="UTF-8">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    						The encoding of the input stream. Default of 'UTF-8'
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="char">
    	<xs:restriction base="xs:string">
    		<xs:length value="1"></xs:length>
    	</xs:restriction>
    </xs:simpleType>
</xs:schema>