workspaces/tfennelly/camel-integration/camel/src/main/resources/META-INF/xsd/smooks/camel-1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.milyn.org/xsd/smooks/camel-1.4.xsd"
	xmlns:smooks-camel="http://www.milyn.org/xsd/smooks/camel-1.4.xsd"
	xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd">

	<xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd" />

	<xs:annotation>
		<xs:documentation xml:lang="en">Smooks Camel Integration
			Configuration</xs:documentation>
	</xs:annotation>

	<xs:element name="router" substitutionGroup="smooks:abstract-resource-config" type="smooks-camel:router" />
	<xs:complexType name="router">
		<xs:complexContent>
			<xs:extension base="smooks:element-visitor">
				<xs:attribute name="beanId" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The beanId of the bean to be routed.
                        </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="toEndpoint" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Camel endpoint to which the bean is to be routed.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="routeOnElement" type="xs:string"
					use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The source element event on which to trigger routing of the bean.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

</xs:schema>