smooks-core/src/main/resources/META-INF/xsd/smooks/datasource-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/datasource-1.1.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-datasource="http://www.milyn.org/xsd/smooks/datasource-1.1.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks IO Routing Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="direct" type="smooks-datasource:direct" substitutionGroup="smooks:abstract-resource-config" />

    <xs:complexType name="direct">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Direct Datasource
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="bindOnElement" type="xs:string" use="required" />
    			<xs:attribute name="datasource" type="xs:string" use="required" />
    			<xs:attribute name="autoCommit" type="xs:boolean" use="required" />
    			<xs:attribute name="driver" type="xs:string" use="required" />
    			<xs:attribute name="url" type="xs:anyURI" use="required" />
    			<xs:attribute name="username" type="xs:string" use="required" />
    			<xs:attribute name="password" type="xs:string" use="required" />
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:element name="JNDI" type="smooks-datasource:Jndi" substitutionGroup="smooks:abstract-resource-config" />

    <xs:complexType name="Jndi">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
    			Direct Datasource
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="bindOnElement" type="xs:string" use="required" />
    			<xs:attribute name="datasource" type="xs:string" use="required" />
    			<xs:attribute name="autoCommit" type="xs:boolean" use="required" />
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
</xs:schema>