smooks-cartridges/persistence/src/main/resources/META-INF/xsd/smooks/persistence-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-persistence="http://www.milyn.org/xsd/smooks/persistence-1.2.xsd"
           targetNamespace="http://www.milyn.org/xsd/smooks/persistence-1.2.xsd"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Persistence Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="inserter" type="smooks-persistence:inserter" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="inserter">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:attribute name="dao" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="beanId" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						The ID under which the entity bean is
       						bound in the bean context.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="insertedBeanId" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="name" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="insertOnElement" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="insertOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"insertOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
				<xs:attribute name="insertBefore" type="xs:boolean" use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>

	<xs:element name="updater" type="smooks-persistence:updater" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="updater">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:attribute name="dao" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="beanId" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						The ID under which the entity bean is
       						bound in the bean context.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="updatedBeanId" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="name" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="updateOnElement" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="updateOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"updateOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
				<xs:attribute name="updateBefore" type="xs:boolean" use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>

    <xs:element name="deleter" type="smooks-persistence:deleter" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

	<xs:complexType name="deleter">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:attribute name="dao" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="beanId" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						The ID under which the entity bean is
       						bound in the bean context.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="deletedBeanId" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="name" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="deleteOnElement" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="deleteOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"deleteOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
				<xs:attribute name="deleteBefore" type="xs:boolean" use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>

    <xs:element name="flusher" type="smooks-persistence:flusher" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="flusher">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:attribute name="dao" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="flushOnElement" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="flushOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"flushOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
				<xs:attribute name="flushBefore" type="xs:boolean" use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>

    <xs:element name="locator" type="smooks-persistence:locator" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="locator">
    	<xs:annotation>
    		<xs:documentation xml:lang="en"></xs:documentation>
    	</xs:annotation>

    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:sequence>
    				<xs:element name="query" type="xs:string" maxOccurs="1" minOccurs="0">
    				</xs:element>
    				<xs:element name="params" type="smooks-persistence:parameters" maxOccurs="1" minOccurs="0">
    				</xs:element>
    			</xs:sequence>
    			<xs:attribute name="beanId" type="xs:string" use="required">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="dao" type="xs:string" use="optional">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="lookup" type="xs:string" use="optional">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="onNoResult"
    				type="smooks-persistence:OnNoResult" use="optional"	default="NULLIFY">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="uniqueResult" type="xs:boolean"	use="optional" default="false">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    					</xs:documentation>
    				</xs:annotation>
				</xs:attribute>
    			<xs:attribute name="lookupOnElement" type="xs:string"
    				use="required">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    			<xs:attribute name="lookupOnElementNS"
    				type="xs:anyURI">
    				<xs:annotation>
    					<xs:documentation xml:lang="en">
    						Namespace control for the "flushOnElement"
    						attribute.
    					</xs:documentation>
    				</xs:annotation>
    			</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>

    </xs:complexType>

    <xs:simpleType name="OnNoResult">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="NULLIFY"></xs:enumeration>
    		<xs:enumeration value="EXCEPTION"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="parameterType">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="POSITIONAL"></xs:enumeration>
    		<xs:enumeration value="NAMED"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>

    <xs:complexType name="parameters">
    	<xs:choice maxOccurs="unbounded" minOccurs="1">
    		<xs:element name="value" type="smooks-persistence:valueParameter" />
    		<xs:element name="wiring" type="smooks-persistence:wiringParameter" />
    		<xs:element name="expression"  type="smooks-persistence:expressionParameter" />
    	</xs:choice>
    	<xs:attribute name="type" type="smooks-persistence:parameterType" default="NAMED">
			<xs:annotation>
				<xs:documentation xml:lang="en">
				</xs:documentation>
			</xs:annotation>
    	</xs:attribute>
    </xs:complexType>

    <xs:complexType name="valueParameter">
		<xs:sequence>
			<xs:element name="decodeParam" type="smooks-persistence:decoderParameter"
				maxOccurs="1"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="index" type="xs:integer" use="optional"></xs:attribute>
		<xs:attribute name="data" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="decoder" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="default" type="xs:string" use="optional"></xs:attribute>
		<xs:attribute name="dataNS" type="xs:string" use="optional"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="wiringParameter">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="beanIdRef" type="xs:string"></xs:attribute>
 		<xs:attribute name="wireOnElement" type="xs:string"></xs:attribute>
 		<xs:attribute name="wireOnElementNS" type="xs:string"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="expressionParameter">
    	<xs:simpleContent>
    		<xs:extension base="xs:string">
		        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
		        <xs:attribute name="execOnElement" type="xs:string"></xs:attribute>
        		<xs:attribute name="execOnElementNS" type="xs:string"></xs:attribute>
            </xs:extension>
    	</xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="decoderParameter">
    	<xs:simpleContent>
    		<xs:extension base="xs:string">
    			<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    		</xs:extension>
    	</xs:simpleContent>
    </xs:complexType>

</xs:schema>