trunk/smooks-cartridges/persistence/src/main/resources/META-INF/xsd/smooks/persistence-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-persistence="http://www.milyn.org/xsd/smooks/persistence-1.1.xsd"
           targetNamespace="http://www.milyn.org/xsd/smooks/persistence-1.1.xsd"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Persistence Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="persister" type="smooks-persistence:persister" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="persister">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:attribute name="dao" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="beanId" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						The ID under which the entity bean is
       						bound in the bean context.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistedBeanId" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="statementId" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistMode" type="smooks-persistence:PersistMode" use="optional" default="PERSIST">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistOnElement" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="persistOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"persistOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
				<xs:attribute name="executeBefore" type="xs:boolean" use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>

    <xs:element name="flusher" type="smooks-persistence:flusher" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>
    </xs:element>

    <xs:complexType name="flusher">
		<xs:annotation>
			<xs:documentation xml:lang="en">
			</xs:documentation>
		</xs:annotation>

       	<xs:complexContent>
       		<xs:extension base="smooks:element-visitor">
       			<xs:attribute name="dao" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="statementId" type="xs:string" use="optional">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="flushOnElement" type="xs:string" use="required">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       			<xs:attribute name="flushOnElementNS" type="xs:anyURI">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       						Namespace control for the
       						"flushOnElement" attribute.
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
				<xs:attribute name="executeBefore" type="xs:boolean" use="optional" default="false">
       				<xs:annotation>
       					<xs:documentation xml:lang="en">
       					</xs:documentation>
       				</xs:annotation>
       			</xs:attribute>
       		</xs:extension>
       	</xs:complexContent>

    </xs:complexType>


    <xs:simpleType name="PersistMode">
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="PERSIST"></xs:enumeration>
    		<xs:enumeration value="MERGE"></xs:enumeration>
    	</xs:restriction>
    </xs:simpleType>
</xs:schema>